@use 'sass:color';

@use '@material/theme/color-palette';

$primary: #ff3e00;
  $secondary: #676778;
  $surface: #fff;
  $background: #fff;
  $error: color-palette.$red-900;

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@use '@material/circular-progress/index' as circular-progress;
 
.my-colored-circle-complete {
  @include circular-progress.color(theme.$green-500);
  @include circular-progress.track-color(theme.$green-900);
}

.my-colored-circle {
  @include circular-progress.color(#ff3e00);
  @include circular-progress.track-color(#ffa689);
}

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --surface: #{$surface};
  --background: #{$background};
  --error: #{$error};
  --opposite: #000;
}


html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-tab-scroller__scroll-area--scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mdc-button .mdc-button__icon {
  margin-right: 0;
}
[dir="rtl"] .mdc-button .mdc-button__icon,
.mdc-button .mdc-button__icon[dir="rtl"] {
  margin-left: 0;
  margin-right: 0;
}